# Ignore the .npmrc file
.npmrc

# Ignore node_modules
node_modules

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ignore stats.html
stats.html

# Ignore .turbo
.turbo

# Ignore tmp directory
tmp/
